$TTL 86400
@       IN SOA  prdx-nsmaster12.ziyotek2.local.     prdx-nsmaster12.ziyotek2.local. (
                                  2014090401    ; serial
                                          1D    ; refresh
                                          1H    ; retry
                                          1W    ; expire
                                          3H )  ; minimum

; Name servers

       IN      NS      prdx-nsmaster12.ziyotek2.local.
       IN      NS      prdx-nsworker12.ziyotek2.local.

; name servers A records

prdx-nsmaster12            IN      A       192.168.34.102
prdx-nsworker12            IN      A       192.168.34.103
prdx-nsworker22            IN      A       192.168.34.104

; Hosts in this Domain

prdx-ntp12	        IN         A	    192.168.34.100
prdx-ntp22	        IN         A	    192.168.34.101
prdx-ftp12	        IN         A	    192.168.34.105
prdx-nfs12	        IN         A	    192.168.34.106
prdx-db127	        IN         A	    192.168.34.107
prdx-webserver127	IN         A	    192.168.34.108
prdx-webserver227       IN         A	    192.168.34.109
prdx-webserver327	IN         A	    192.168.34.110
prdx-haproxy127	        IN         A	    192.168.34.111
prdx-nagios12	        IN         A	    192.168.34.112
prdx-ldap12	        IN         A	    192.168.34.113
prdx-ansible12	        IN         A	    192.168.34.114
prdx-wiki12	        IN         A	    192.168.34.115
prdx-jenkins12	        IN         A	    192.168.34.119
prdx-kubem12	        IN         A	    192.168.34.120
prdx-kubew12	        IN         A	    192.168.34.121
prdx-kubew22	        IN         A	    192.168.34.122
prdx-db126              IN         A        192.168.34.123
prdx-webserver126       IN         A        192.168.34.124
prdx-webserver226       IN         A        192.168.34.125
prdx-webserver326       IN         A        192.168.34.126
prdx-haproxy126         IN         A        192.168.34.127

